*{
    margin:0;
    padding:0;
}

body{
    background-color: #023e8a;
    text-align: center;
}

.container{
    height:70vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    gap:1.5vmin;
}

.choiceBtn{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size:8vmin;
    color:#0096c7;
}

#reset{
    font-size:1.25rem;
    padding:1rem;
    background-color: #caf0f8;
    color: #5c7aff;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

#title{
    
}